%h1.title Candidates

.panel.panel-default
  .panel-body
    %table.table
      %thead
        %tr
          %th Name
          %th CV
          %th Assigned to
          %th Actions
      %tbody
        = render @candidates

